<main class="search">
    <header class="search-box-container">
        <app-search-box class="search-box-component" (searchEvent)="searchMovies($event)"></app-search-box>
        <!-- <a routerLink="/detail">popup</a> -->
        <p (click)="goToDetail()">goToDetail</p>

    </header>

    <section class="search-movies" infiniteScroll [infiniteScrollDistance]="0" (scrolled)="onScroll()">
        <div class="search-movies__movie-card-container">
            <app-movie-card *ngFor="let movie of moviesList" class="search-movies__movie-card-component"
                [movieData]="movie" class="search-movies__movie-card">
            </app-movie-card>

            <div class="loading"> loading </div>
        </div>
    </section>

</main>