<div class="detail">
    <header class="back-box-container">
        <app-back-box class="back-box-component"></app-back-box>
    </header>

    <section class="detail-container">

        <div class="detail-container__poster"></div>

        <div class="detail-container__seasons-container">

            <h2 class="detail-container__seasons-title">TEMPORADAS</h2>

            <div class="detail-container__seasons-controller"></div>

            <div class="detail-container__episodes-list">
                <div class="detail-container__episode-box"></div>
            </div>

        </div>

    </section>
</div>