<div class="detail" *ngIf="this.detail">

    <div class="detail-inner">

        <header class="detail-header">
            <app-back-box (goBackEvent)="goBack()" class="detail-header__back-box-component"></app-back-box>
        </header>

        <section class="detail-body">

            <!-- <div class="detail-container__poster"></div> -->
            <app-poster [detail]="this.detail" class="detail-body__poster-component"></app-poster>

            <div class="detail-body__seasons-container">

                <h4 class="detail-body__seasons-title">TEMPORADAS</h4>

                <!-- <div class="detail-container__seasons-controller"></div> -->
                <app-seasons-controller (showEpisodesEvent)="showEpisodes($event)" [seasons]="this.detail.seasons"
                    class="detail-body__seasons-controller-component"></app-seasons-controller>

                <div class="detail-body__episodes-list">
                    <!-- <div class="detail-container__episode-box"></div> -->

                    <div class="detail-body__episode-box-container">
                        <app-episode-box *ngFor="let episode of detail.seasons[this.actualSeasonNumberArray].episodes"
                            [episode]="episode" class="detail-body__episode-box-component"></app-episode-box>
                    </div>

                </div>

            </div>

        </section>

    </div>


</div>