<div class="movie-card">
    <div class="movie-card__card-container">

        <!-- <img class="movie-card__img" [src]="'https://image.tmdb.org/t/p/w500/' + movieData.imgBackdropPath"
                onerror="this.src = '../../assets/placeholder/movieplaceholder.jpg';"> -->

        <div class="movie-card__img" [style.backgroundImage]="getImageBackground(movieData)">
        </div>


        <div class="movie-card__title">
            <p class="movie-card__title-text">{{ movieData.title | uppercase }}</p>
        </div>
    </div>
</div>