<div class="movie-card">

    <div class="movie-card__card-container">

        <div class="movie-card__card-detail">
            Rating: {{ movieData.rating }}

            <span *ngFor="let actor of movieData.actors">
                {{ actor.name }}
            </span>
        </div>

        <div class="movie-card__img" [style.backgroundImage]="getImageBackground(movieData)">
        </div>


        <div class="movie-card__title">
            <p class="movie-card__title-text">{{ movieData.title | uppercase }}</p>
        </div>


    </div>

</div>