@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #E8E9EE;
}

.body-disabled-scroll {
    overflow: hidden;
}

p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

/* -- General -- */

.search, .detail {
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.search-inner, .detail-inner {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 20vh 1fr;
}

.search-header, .detail-header {
    display: grid;
    align-items: center;
}

.search-box__title, .back-box__title {
    color: #ADB4C3;
    font-size: 40px;
}

/* -- Search Box -- */

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box {
    justify-content: space-between;
}

.search-box__box {
    position: relative;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.search-box__input {
    opacity: 0;
    width: 0;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 0 1px 1px #E2E3E9;
    transition: opacity 1s, width .5s;
}

.search-box__text-box--open {
    width: 85%;
    opacity: 1;
}

.search-box__btn {
    width: 10%;
    background-color: transparent;
    border: none;
    outline: none;
    color: transparent;
    background-image: url("src/assets/icons/lupa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.search-box__message-box {
    position: absolute;
    width: 85%;
    top: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Mukta', sans-serif;
    color: #D6382C;
    transform: translateY(0);
}

.search-box__message {
    animation: slide-down .5s;
}

/* -- Movie Card -- */

.search-body__movie-card-container {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-column-gap: 10%;
}

.movie-card {
    max-width: 350px;
    /* min-width: 300px; */
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    animation: fade-in .5s;
}

.movie-card__card-container {
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: white;
    box-shadow: 0 10px 15px -5px #747F8A;
    overflow: hidden;
    cursor: pointer;
    transform: translateY(0);
    transition: transform .2s;
}

.movie-card__card-container:hover {
    transform: translateY(-10%)
}

.movie-card__card-container:hover .movie-card__card-detail {
    opacity: 1;
}

.movie-card__card-container:hover .movie-card__img {
    transform: scale(2);
    filter: blur(5px);
}

.movie-card__card-detail {
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    filter: blur(0);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    opacity: 0;
    display: grid;
    grid-template-rows: 40% 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    transition: all 1s;
}

.movie-card__rating {
    background-color: white;
    padding: 10px;
    box-shadow: 0 10px 15px -5px black;
}

.movie-card__star {
    background-image: url("src/assets/icons/star.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 8px;
    display: inline-block;
}

/* .movie-card__actors {} */

.movie-card__type {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 20;
    background-color: #F0EE60;
    padding: 5px;
    border-radius: 30px;
}

.movie-card__img {
    width: 100%;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0);
    z-index: 10;
    transition: transform .5s, filter .5s;
    animation: appear 3s;
}

.movie-card__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-card__title-text {
    margin: 0;
    padding-top: 8px;
    font-size: 18px;
    color: #ADB4C3;
}

/* -- Loading -- */

.loading__container {
    height: 300px;
    grid-column: 1/4;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.loading__circle {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: grey;
    animation-duration: .5s;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loading__circle::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: grey;
    animation-duration: .5s;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.loading__status {
    font-size: 30px;
}

/* -- Detail -- */

.detail {
    height: 100%;
    width: 100%;
    background-color: #E8E9EE;
    position: fixed;
    top: 0;
    animation: fade-in .5s;
}

.back-box {
    display: grid;
    grid-template-columns: 170px 1fr;
}

.back-box__btn {
    position: relative;
    background-color: #E2E3E9;
    border: none;
    width: 150px;
    padding: 20px;
    cursor: pointer;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    color: #9C9DA6;
    font-size: 20px;
    box-shadow: 0 10px 15px -5px black;
}

.detail-body {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 90% 1fr;
    grid-column-gap: 40px;
}

/* .detail-body__poster-component {} */

.detail-body__seasons-container {
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 8% 15% 1fr;
}

/* .detail-body__seasons-title {
}

.detail-body__seasons-controller-component {
}

.detail-body__episodes-list {
} */

/* -- Poster -- */

.poster-component {
    height: 100%;
    position: relative;
    padding: 10px;
    overflow: hidden;
    background-color: #F2F4FA;
    box-shadow: 0 10px 15px -5px #747F8A;
    cursor: pointer;
}

.poster-component__image {
    height: 100%;
    /* background-image: url('https://image.tmdb.org/t/p/w300_and_h450_bestv2/eTMMU2rKpZRbo9ERytyhwatwAjz.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.poster-component__contain {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 90%;
    left: 0;
    background-color: inherit;
    display: grid;
    grid-template-rows: 10% 1fr;
    align-items: center;
    opacity: 1;
    transition: top .5s, opacity .5s;
}

.poster-component:hover .poster-component__contain {
    top: 0;
    opacity: .95;
}

.poster-component__title {
    color: #ADB4C3;
    font-size: 25px;
    padding: 10px;
}

.poster-component__description {
    padding: 30px;
}

/* -- Seasons -- */

.detail-body__seasons-title {
    color: #ADB4C3;
    font-size: 25px;
    padding: 10px;
}

/* -- Seasons Controller -- */

.seasons-controller {
    height: 100%;
    position: relative;
}

.seasons-controller__container {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat( auto-fit, 60px);
    grid-gap: 5px;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.seasons-controller__box {
    width: 50px;
    height: 60px;
    background-color: #F2F2F2;
    box-shadow: 0 5px 15px -5px #747F8A;
    color: #ADB4C3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .5s;
}

.seasons-controller__box--active {
    background-color: #747F8A;
    color: white;
    box-shadow: none;
}

/* -- Episode Box -- */

.detail-body__episodes-list {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.detail-body__episode-box-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.episode-box {
    padding: 20px;
    color: #ADB4C3;
    font-size: 20px;
    box-shadow: 0 5px 5px -5px #747F8A;
    display: grid;
    grid-template-columns: 10% 1fr;
}

/* -- Animations -- */

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        background-color: #73747A;
        transform: scale(0);
    }
    100% {
        background-color: #DEE0E7;
        transform: scale(1);
    }
}